@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - pzaleszczyk</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/css/layout.css" />
</head>


<body>

    <!-- Top navigation -->
    <div class="topnav">

        <!-- Centered link -->
        <div class="topnav-centered">
            <a class="active" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
           
        </div>

        <!-- Left-aligned links (default) -->
        <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        <a asp-area="" asp-controller="Mangas" asp-action="Index">Mangas</a>
        <a asp-area="" asp-controller="Authors" asp-action="Index">Authors</a>

        <!-- Right-aligned links -->
        <div class="topnav-right">


            @if (SignInManager.IsSignedIn(User))
            {
                <a asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">Hello @User.Identity.Name!</a>

                <form class="form-inline"
                      asp-area="Identity"
                      asp-page="/Account/Logout"
                      asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })"
                      method="post">
                    <button type="submit" class="nav-link btn btn-link">Logout</button>
                </form>

            }
            else
            {
                <a asp-area="Identity" asp-page="/Account/Register">Register</a>
                <a asp-area="Identity" asp-page="/Account/Login">Login</a>
            }
        </div>

    </div>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2019 - pzaleszczyk - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>

</html>
