@model pzaleszczyk.Models.GenreViewModel
@using Microsoft.AspNetCore.Authorization
@inject IAuthorizationService AuthorizationService

@{
    ViewData["Title"] = "Index";

}

<h1>Index</h1>
<p>
    @if ((await AuthorizationService.AuthorizeAsync(User, "EditPolicy")).Succeeded)
    {
        <a asp-action="Create">Create New</a>
    }
</p>

<form asp-controller="Mangas" asp-action="Index" method="get">
    <p>

        <select asp-for="MangaGenre" asp-items="Model.Genres">
            <option value="">All</option>
        </select>

        Title: <input type="text" asp-for="SearchString" />
        <input type="submit" value="Filter" />
    </p>
</form>


<table class="table" border="3">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Mangas[0].Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Mangas[0].ReleaseDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Mangas[0].Author)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Mangas[0].Genre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Mangas[0].Rating)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Mangas[0].Price)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Mangas)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ReleaseDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Author.Name)
                    <br />
                    @Html.DisplayFor(modelItem => item.Author.Surname)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Genre)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Rating)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Price)
                </td>
                <td>
                    @if ((await AuthorizationService.AuthorizeAsync(User, "EditPolicy")).Succeeded)
                    {
                        <u><a asp-action="Edit"  asp-route-author="@item.Author.Fullname" asp-route-id="@item.Id">Edit</a></u>
                        <br />
                        <u><a asp-action="Delete" asp-route-author="@item.Author.Fullname" asp-route-id="@item.Id">Delete</a></u>
                        <br />
                    }
                    <u><a asp-action="Details" asp-route-author="@item.Author.Fullname" asp-route-id="@item.Id">Details</a></u>
                </td>
            </tr>
        }
    </tbody>
</table>

<!---@if ((await AuthorizationService.AuthorizeAsync(User, null, "RequireAuthenticatedUser")).Succeeded)-->